#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header{
  /* background-image: linear-gradient(90deg,oklch(var(--s)) 4%,color-mix(in oklch,oklch(var(--s)),oklch(var(--er))) 22%,oklch(var(--p)) 45%,color-mix(in oklch,oklch(var(--p)),oklch(var(--a))) 67%,oklch(var(--a)) 100.2%); */
}
/* .app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
} */

